@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red">Welcome 2  : demo CI/CD 2025 test update docker,.<br />Hà nội mùa vắng những cơn mưa<br />Cái rét đầu đông khăn em bay hiu hiu gió lộng
    <br />
    Hoa sữa thôi rơi, em bên tôi 1 chiều tan lớp.
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
